<p id="notice"><%= notice %></p>

<p>
  <strong>Short url:</strong>
  <%= link_to @shortened_url.short_url, @shortened_url.short_url, target: "_blank"  %>
</p>

<p>
  <strong>Original url:</strong>
  <%= link_to @shortened_url.original_url, @shortened_url.original_url, target: "_blank"  %>
</p>

<p>
  <strong>Redirect count:</strong>
  <%= @shortened_url.redirect_count %>
</p>

<%= link_to 'Back', shortened_urls_path %>
